body { /* Body styling. */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	margin: 0;

} /* Body styling. */

main {
	flex: 1 0 auto;
	z-index: 0;
}

header {
	z-index: 0;
}

.banner {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 0;
	padding: 0;
	padding-top: 6px;
	z-index: -1;
	background-color: #1976D2;
    background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
    background: linear-gradient(145deg,#0D47A1,#42A5F5);
    color: #fff;
}